/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 49, ../../sass/style.scss */
header {
  padding-top: 6px;
  background-color: #000000;
}
/* line 52, ../../sass/style.scss */
header a {
  text-decoration: none;
}
/* line 56, ../../sass/style.scss */
header h1 {
  padding: 12px;
  font-size: 125%;
  color: #FFFFFF;
  display: inline;
}

/* line 64, ../../sass/style.scss */
body {
  background-image: url("/static/img/bgtile-nuno.png");
}

/* line 68, ../../sass/style.scss */
#socialbotton {
  position: absolute;
  right: 12px;
  top: 12px;
  text-align: right;
}
/* line 73, ../../sass/style.scss */
#socialbotton ul li {
  display: inline;
}
/* line 82, ../../sass/style.scss */
#socialbotton ul li #googleplus-wrapper {
  margin-left: 24px;
}

/* line 89, ../../sass/style.scss */
.page {
  *zoom: 1;
  max-width: 79em;
  _width: 79em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 91, ../../sass/style.scss */
.page #main {
  margin-left: 2em;
  margin-top: 2em;
}
/* line 94, ../../sass/style.scss */
.page #main .h2-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 97, ../../sass/style.scss */
.page #main h2 {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 160%;
  width: 100%;
  height: 2em;
  color: white;
}
/* line 103, ../../sass/style.scss */
.page #main .content {
  overflow: hidden;
}
/* line 110, ../../sass/style.scss */
.page #main .books-container {
  padding: 12px;
}
/* line 112, ../../sass/style.scss */
.page #main .books-container h3 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 95%;
}
/* line 116, ../../sass/style.scss */
.page #main .books-container ul {
  list-style: none;
}
/* line 119, ../../sass/style.scss */
.page #main .books-container ul .title {
  border-top: 3px solid #666666;
}
/* line 123, ../../sass/style.scss */
.page #main .books-container ul .users {
  font-weight: bold;
  text-align: right;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 6px;
  font-size: 145%;
  color: white;
  border-bottom: 1px dashed white;
}
/* line 132, ../../sass/style.scss */
.page #main .books-container ul .users a {
  text-decoration: none;
  color: white;
}
/* line 137, ../../sass/style.scss */
.page #main .books-container ul .users span.user-number {
  font-size: 175%;
}
/* line 143, ../../sass/style.scss */
.page #main .books-container ul .image {
  text-align: center;
}
/* line 157, ../../sass/style.scss */
.page #main .books-favorite {
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  /* border-left: 2px dashed white;
     border-right: 2px dashed white; */
  margin: 0px;
  background-color: #00adef;
}
/* line 162, ../../sass/style.scss */
.page #main .books-favorite .wrapper-h2 {
  background-color: #005cf0;
}
/* line 167, ../../sass/style.scss */
.page #main .books-normal {
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  /* border-left: 2px dashed white;
     border-right: 2px dashed white; */
  margin: 0px;
  background-color: #ffcc00;
}
/* line 172, ../../sass/style.scss */
.page #main .books-normal .wrapper-h2 {
  background-color: #ff8a00;
}
/* line 176, ../../sass/style.scss */
.page #main .books-hot {
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  /* border-left: 2px dashed white;
     border-right: 2px dashed white; */
  margin: 0px;
  background-color: #eb008b;
}
/* line 181, ../../sass/style.scss */
.page #main .books-hot .wrapper-h2 {
  background-color: #be0036;
}
/* line 186, ../../sass/style.scss */
.page #main .books-newbee {
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
  display: inline;
  /* border-left: 2px dashed white;
     border-right: 2px dashed white; */
  margin: 0px;
  background-color: #b9b9b9;
}
/* line 191, ../../sass/style.scss */
.page #main .books-newbee .wrapper-h2 {
  background-color: #666666;
}
/* line 206, ../../sass/style.scss */
.page #main .content:first-child .books-favorite:first-child {
  -moz-border-radius-topleft: 15px 15px;
  -webkit-border-top-left-radius: 15px 15px;
  border-top-left-radius: 15px 15px;
}
/* line 201, ../../sass/style.scss */
.page #main .content:first-child .books-favorite:first-child .wrapper-h2:first-child {
  -moz-border-radius-topleft: 15px 15px;
  -webkit-border-top-left-radius: 15px 15px;
  border-top-left-radius: 15px 15px;
}
/* line 217, ../../sass/style.scss */
.page #main .content:first-child .books-newbee:nth-child(4) {
  -moz-border-radius-topright: 15px 15px;
  -webkit-border-top-right-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}
/* line 212, ../../sass/style.scss */
.page #main .content:first-child .books-newbee:nth-child(4) .wrapper-h2:first-child {
  -moz-border-radius-topright: 15px 15px;
  -webkit-border-top-right-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}

/* line 224, ../../sass/style.scss */
#reloadbutton {
  position: fixed;
  font-size: 32px;
  padding: 12px;
  background-color: #666;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
}
/* line 233, ../../sass/style.scss */
#reloadbutton a {
  text-decoration: none;
  color: #CCC;
}
