@import "compass/reset/";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "susy";
$total-columns : 16;
$defult-columns: 4;

// background-color

$background-body: #68462B;

$title-cyan: #005CF0;
$column-cyan: #00ADEF;

$title-yellow: #FF8A00;
$column-yellow: #FFCC00;

$title-mazenda: #BE0036;
$column-mazenda: #EB008B;

$title-gray: #666;
$column-gray: #B9B9B9;

$background-image-body: "/static/img/bgtile-nuno.png";

@mixin wrapper-h2 {
    padding-top: 12px;
    padding-bottom: 12px;
}

@mixin h2-title {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 160%;
    width: 100%;
    height: 2em;
    color: white;
}

@mixin h3-title {
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 95%;
}

header {
    padding-left: 12px;
    background-color: #000000;
    a {
        text-decoration: none;
    }

    h1 {
        padding: 12px;
        font-size: 125%;
        color: #FFFFFF;
        display: inline;
    }
}

body {
    background-image: url($background-image-body);
}

#socialbotton {
    position: absolute;
    right: 12px;
    top: 12px;
    text-align: right;
    ul li {
        display: inline;

        #hatenabookamrk-wrapper {
        }

        #facebook-wrapper {
        }

        #googleplus-wrapper {
            margin-left: 24px;
        }

    }
}

.page {
    @include container;
    #main {
        margin-left: 2em;
        margin-top: 2em;
        .h2-wrapper {
            @include wrapper-h2;
        }
        h2 {
            @include h2-title;
        }
        .content {
        }

        .content {
            overflow: hidden;
        }

        .contentwrapper {
        }

        .books-container {
            padding: 12px;
            h3 {
                @include h3-title;
            }

            ul {
                list-style: none;
                
                .title {
                    border-top: 3px solid #666666;
                }

                .users {
                    font-weight: bold;
                    text-align: right;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    padding-right: 6px;
                    font-size: 145%;
                    color: white;
                    border-bottom: 1px dashed white;
                    a {
                        text-decoration: none;
                        color: white;
                    }

                    span.user-number {
                        font-size: 175%;
                    }

                }
                
                .image {
                    text-align: center;
                }

            }

        }

        @mixin column-border-line {
            /* border-left: 2px dashed white;
               border-right: 2px dashed white; */
        }


        .books-favorite { 
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-cyan;
            .wrapper-h2 { 
                background-color: $title-cyan;
            }
        }
        
        .books-normal {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-yellow;
            .wrapper-h2 { background-color: $title-yellow; }
        }

        
        .books-hot {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-mazenda;
            .wrapper-h2 { background-color: $title-mazenda; }

        }
        

        .books-newbee {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-gray;
            .wrapper-h2 { 
                background-color: $title-gray;
            }
        }

        .content:first-child {
            $radius-hori: 15px;
            $radius-ver: 15px;
            @mixin top-left-radius {
                @include border-corner-radius("top", "left", $radius-hori $radius-ver);
                .wrapper-h2:first-child {
                    @include border-corner-radius("top", "left", $radius-hori $radius-ver);
                }
            }

            .books-favorite:first-child {
                @include top-left-radius;
            }
        
            @mixin top-right-radius {
                @include border-corner-radius("top", "right", $radius-hori $radius-ver);
                .wrapper-h2:first-child {
                    @include border-corner-radius("top", "right", $radius-hori $radius-ver);
                }
            }

            .books-newbee:nth-child(4) {
                @include top-right-radius;
            }
        }
    }
}

#reloadbutton {
    position: fixed;
    font-size: 32px;
    padding: 12px;
    background-color: #666;
    @include opacity(0.7);
    @include border-radius(10px);
    bottom: 10px;
    right: 10px;
    a { 
        text-decoration:none;
        color:#CCC;
    }
}
