@import "compass/reset/";

@import "susy";
$total-columns : 16;
$defult-columns: 4;

// background-color

$background-body: #68462B;

$column-cyan: #39F;
$title-cyan: #609;

$column-yellow: #FF3;
$title-yellow: #F90;

$column-mazenda: #F6A;
$title-mazenda: #F02;

$column-gray: #DDD;
$title-gray: #666;

@mixin wrapper-h2 {
    padding-top: 12px;
    padding-bottom: 12px;
}

@mixin h2-title {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 160%;
    width: 100%;
    height: 2em;
    color: white;
}

@mixin h3-title {
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 95%;
}

header {
    h1 {
        padding: 12px;
        font-size: 125%;
        background-color: #000000;
        color: #FFFFFF;
    }
}

body {
    background-color: $background-body;
}

.page {
    @include container;
    #main {
        .h2-wrapper {
            @include wrapper-h2;
        }

        h2 {
            @include h2-title;
        }

        .content {
            overflow: hidden;
        }

        .books-container {
            padding: 12px;
            h3 {
                @include h3-title;
            }

            ul {
                list-style: none;
                
                .title {
                    border-top: 3px solid #666666;
                }

                .users {
                    font-weight: bold;
                    text-align: right;
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                    padding-right: 6px;
                    font-size: 145%;
                    color: white;
                    border-bottom: 1px dashed white;
                    a {
                        text-decoration: none;
                        color: white;
                    }

                    span.user-number {
                        font-size: 175%;
                    }

                }
                
                .image {
                    text-align: center;
                }

            }

        }

        @mixin column-border-line {
            /* border-left: 2px dashed white;
               border-right: 2px dashed white; */
        }

        .books-favorite { 
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-cyan;
            .wrapper-h2 { background-color: $title-cyan; }
        }
    
        .books-normal {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-yellow;
            .wrapper-h2 { background-color: $title-yellow; }
        }

        
        .books-hot {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-mazenda;
            .wrapper-h2 { background-color: $title-mazenda; }

        }
        

        .books-newbee {
            @include span-columns($defult-columns, $total-columns);
            @include column-border-line;
            margin: 0px;
            background-color: $column-gray;
            .wrapper-h2 { background-color: $title-gray; }
        }
    }
}
