<!DOCTYPE HTML>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Bookable</title>
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.10.1.min.js"></script>
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.powertip-dark.min.css" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.powertip.min.js"></script>
    <script type="text/javascript">
    $(function() {
            $('#show_infomation').data('powertipjq', $([
                    '<span id="title">このサービスについて</span>',
                    '<p>このサービスは、はてなブックマークから、ユーザー数毎にランダムに表示するサービスです。</p>',
                    '<p>一時期流行った本であったり、あるいは見しらぬ本との出会いをコンセプトとしています。</p>',
                    '<br />',
                    '<p><a href="http://bugrammer.g.hatena.ne.jp/nisemono_san/" style="color:white">作成：えせはら@じーめーる</a><p>'].join('\n')));
            $('#show_infomation').powerTip({
                    placement: 'se',
                    mouseOnToPopup: true
                });
    });    
    </script>
    {% block extheader %}
    {% endblock %}
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

    <header>
<ul id="header">
    <li> 
        <a href="/">
            <img src="{{STATIC_URL}}/img/logo.png" alt="Bookable" />
        </a>
    </li>

    <li id="infomation">
        <span id="show_infomation">what's this?</a>
    </li>
</ul>

<div id="socialbotton">
               
<div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_c896b01fd3515638844f1a8de432309c)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/c896b01fd3515638844f1a8de432309c'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_c896b01fd3515638844f1a8de432309c.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>

        </div> 

    </header>
    <div class="page">
        <div id="main">
            {% block contents %}
            {% endblock %}
        </div>
        

    </div>
</body>
</html>
