        {% if book.title %}
        <div class="books-container">
            <ul>
                <li class="title">
                    <h3>
                        <a href="{{book.url}}">{{book.title}}</a>
                    </h3>
                </li>
                <li class="image">
                    <img src="{{book.image}}" alt="{{book.title}}" />
                </li>
                <li class="users">
                    {{book.users}}users
                </li>
            </ul>
        </div>
        {% endif %}
