        {% if book.title %}
        <div class="books-container">
            <ul>
                <li class="image">
                        <a href="{{book.affilize}}">
                                <img src="{{book.image}}" title="{{book.title}}" />
                        </a>
                </li>
                <li class="users">
                    <a href="">
                        <span class="user-number">{{book.users}}</span>users
                    </a>
                    </li>
            </ul>
        </div>
        {% endif %}
