        {% if book.title %}
        <div class="books-container">
            <ul>
                <li class="image">
                <a href="book/{{book.pk}}" target="_blank">
                                <img src="{{book.image}}" title="{{book.title}}" />
                        </a>
                </li>
                <li class="users">
                <a href="{{book.link_to_hatenabookmark}}" target="_blank">
                        <span class="user-number">{{book.users}}</span>users
                    </a>
                    </li>
            </ul>
        </div>
        {% endif %}
