{% extends "base.html" %}

{% block extheader %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autopager-1.0.0.min.js"></script>
<script type="text/javascript">
    $(function(){
        $.autopager({
            link: '#nextlink',
            appendTo: '.contentwrapper'
            });
        var focus_status = 0;
        var previous_status = 0;
        var slideFunction = function() {
            var target_position;
            var elem = $('.books-favorite li.image').get(focus_status);
            if (typeof elem === "undefined") {
                focus_status = previous_status;
            } else {
                target_position = $(elem).offset();
                $('html, body').animate({scrollTop: target_position.top - 24}, 'fast');
            }
        };

        $(document).keypress(function(keyevent) {
            previous_status = focus_status; 
            if (keyevent.keyCode === 106 || keyevent.charCode === 106) {
                focus_status ++;
            } else if (keyevent.keyCode === 107 || keyevent.charCode === 107) {
                focus_status --;
            }

            if (focus_status < 0) {
                focus_status = 0;
            }
 
            slideFunction();

            });
    });
</script>
{% endblock %}

{% block contents %}
<div class="contentwrapper">
    <div class="content">
    <div class="books-favorite">    
        <div class="wrapper-h2">
            <h2>9999user - 50user</h2>
        </div>
    {% for book in favorite_books %}
        {% include "books.html" %}
    {% endfor %} 
    </div> 
    <div class="books-normal">
        <div class="wrapper-h2">
            <h2>50user - 25user </h2>
        </div>
    {% for book in normal_books %}
        {% include "books.html" %}
    {% endfor %}
    </div>
    
    <div class="books-hot">
        <div class="wrapper-h2">
            <h2>25user - 10user</h2>
        </div>
    {% for book in hot_books %}
        {% include "books.html" %}
    {% endfor %}
    </div>
    
    <div class="books-newbee">
        <div class="wrapper-h2">
            <h2>10user - </h2>
        </div>
        {% for book in newbee_books %}
            {% include "books.html" %}
        {% endfor %}
    </div>
    </div>
</div>
<div id="reloadbutton">
    <a href="/">RELOAD</a>
</div>
<a href="/" ref="next" id="nextlink">Reload</a>

{% endblock %}
