{% extends "base.html" %}

{% block extheader %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.autopager-1.0.0.min.js"></script>
<script type="text/javascript">
    $(function(){
        $.autopager({
            link: '#nextlink',
            appendTo: '.contentwrapper'
        });
    });
</script>
{% endblock %}

{% block contents %}
<div class="contentwrapper">
    <div class="content">
    <div class="books-favorite">    
        <div class="wrapper-h2">
            <h2>-100user</h2>
        </div>
    {% for book in favorite_books %}
        {% include "books.html" %}
    {% endfor %} 
    </div> 
    <div class="books-normal">
        <div class="wrapper-h2">
            <h2>100user - 50user </h2>
        </div>
    {% for book in normal_books %}
        {% include "books.html" %}
    {% endfor %}
    </div>
    
    <div class="books-hot">
        <div class="wrapper-h2">
            <h2>50user - 10user</h2>
        </div>
    {% for book in hot_books %}
        {% include "books.html" %}
    {% endfor %}
    </div>
    
    <div class="books-newbee">
        <div class="wrapper-h2">
            <h2>10user - </h2>
        </div>
        {% for book in newbee_books %}
            {% include "books.html" %}
        {% endfor %}
    </div>
    </div>
</div>
<a href="/" ref="next" id="nextlink">Reload</a>
{% endblock %}
